<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}
  {% endblock %}
  {#<link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">#}
  <title>{% block page_title %}{{ site.name }}{% endblock %}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ baseUrl() }}/css/app.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ urlFor('root') }}" class="navbar-brand">{{ site.brand }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        {% if user.isAuthenticated == true %}
          <p class="navbar-text">Hello, {{ user.displayName }}</p>
          <li><a href="{{ urlFor('logout') }}">Sign Out</a></li>
        {% else %}
          <li><a href="{{ urlFor('login') }}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  {% include '_flash.html.twig' %}
  <div class="row">
    {% block content %} {% endblock %}
  </div>
  <div class="footer">
    <p class="text-muted credit">
      Powered by phpLDAPpass.
    </p>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block javascript %} {% endblock %}
</body>
</html>
